.container-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
        width: 64px;
        height: 64px;
        background-size: cover;
        margin-bottom: 47px;
    }
    .search-icon {
        background: url('../../img/search-icon.svg') no-repeat;
    }
    .user-icon {
        background: url('../../img/user-icon.svg') no-repeat;
    }
    .rep-icon {
        background: url('../../img/rep-icon.svg') no-repeat;
        width: 76px;
        height: 62px;
    }
    .description-search {
        color: #808080;
        font-size: 22px;
    }
}

.container-state-user {
    min-height: 100vh;
}

.container-state-rep {
    width: inherit;
}

@media (max-width: 320px) {
    .container-state {
        .icon {
            background-size: cover;
            width: 40px;
            height: 40px;
            margin-bottom: 20px;
        }
        .description-search {
            font-size: 15px;
        }
    }
}