.container-rep {
    padding: 24px 32px;
    .rep-name {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 16px;
    }
    .rep-description {
        font-weight: 400;
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .container-rep {
        padding: 15px 24px;
        .rep-name {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .rep-description {
            font-weight: 400;
            font-size: 12px;
        }
    }
}