.container-rep {
    padding: 24px 32px;
    .rep-name {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 16px;
    }
    .rep-description {
        font-weight: 400;
        font-size: 16px;
    }
}