#container {
    margin: 1rem;
}

.container-paginate {
    color: #808080;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .paginate-info {
        font-weight: 400;
        font-size: 14px;
        margin-right: 24px;
    }
}

.items {
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    cursor: pointer;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.pagination .page-item:first-child,
.pagination .page-item:last-child {
    display: flex;
    align-items: center;
}

.pagination .page-item:first-child a,
.pagination .page-item:last-child a {
    height: 12px;
    width: 7px;
}

.pagination .page-item:first-child a {
    background: no-repeat url('../../../img/arrow.svg');
    background-size: contain;
    margin-right: 15px;
}

.pagination .page-item:last-child a {
    background: no-repeat url('../../../img/arrow.svg');
    background-size: contain;
    transform: scale(-1, 1);
    margin-left: 15px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0064EB;
    border-radius: 3px;
    border-color: #0d6efd;
}

.page-item {
    border-radius: 3px;
    margin: 0 5px;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-link {
    position: relative;
    padding: 2px 6px;
    display: block;
    color: #808080;
    text-decoration: none;
    background-color: #fff;
    border-top-color: rgb(222, 226, 230);
    border-right-color: rgb(222, 226, 230);
    border-bottom-color: rgb(222, 226, 230);
    border-left-color: rgb(222, 226, 230);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (max-width: 540px) {
    .container-paginate {
        flex-direction: column;
        .paginate-info {
            margin: 15px 0 0 0;
        }
    }
}

@media (max-width: 840px) {
    .container-paginate {
        flex-direction: column;
        .paginate-info {
            margin: 15px 0 0 0;
        }
    }
}