.user-container {
    text-align: start;
    display: flex;
    padding: 111px 57px;
    .user-info {
        margin-right: 100px;
    }
    .avatar {
        width: 280px;
        height: 280px;
        border-radius: 50%;
    }
    .name {
        margin: 29px 0 12px;
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
    }
    .nickname {
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        a {
            text-decoration: none;
            color: #0064EB;
        }
    }
    .follow-container {
        display: flex;
        width: 100%;
    }
    .followers-container {
        margin-right: 20px;
    }
    .followers-container,
    .following-container {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        .icon-followers {
            background-image: url('../../img/user-followers-icon.svg');
            background-size: cover;
            width: 22px;
            height: 14px;
            margin-right: 10px;
        }
        .icon-following {
            background-image: url('../../img/user-following-icon.svg');
            background-size: cover;
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
    .repositories-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .repositories {
            height: 100%;
            width: 100%;
            .header {
                font-weight: 600;
                font-size: 32px;
                line-height: 130%;
                margin-bottom: 29px;
            }
            .rep-name {
                a {
                    text-decoration: none;
                    color: #0064EB;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .user-container {
        padding: 100px 25px 50px;
        flex-direction: column;
        .user-info {
            margin-right: 0;
        }
        .avatar {
            width: 270px;
            height: 270px;
            display: block;
            margin: 0 auto;
        }
        .repositories-container {
            margin-top: 40px;
            .repositories {
                .header {
                    font-size: 20px;
                }
            }
        }
    }
}