.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #0064EB;
    padding: 16px 41px;
    .git-icon {
        background-image: url('../../img/git-icon.svg');
        height: 40px;
        width: 41px;
    }
    .input {
        background: url('../../img/search-icon.svg') no-repeat 19px;
        background-color: #fff;
        padding-left: 44px;
        width: 500px;
        height: 40px;
        margin: 0 0 0 22px;
        border-radius: 6px;
        border-style: none;
        outline: none;
    }
}

@media (max-width: 540px) {
    .navbar {
        padding: 10px 10px;
        .input {
            width: auto;
            margin: 0 0 0 10px;
            flex: content;
        }
    }
}