.App {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
}

@media (max-width: 540px) {
    .container {
        height: auto;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 70%;
    }
}